[user]
    email = 32617+amiorin@users.noreply.github.com
    name = Alberto Miorin
[pull]
    ff = only
    rebase = true
[init]
    defaultBranch = main
{%- if profile = "macos" %}
[url "https://{{ "GITHUB_TOKEN" | lookup-env }}:x-oauth-basic@github.com/"]
    insteadOf = https://github.com/
{%- endif %}
