{
  "ubuntu"
  [".config/atuin/config.toml"
    ".config/direnv/direnv.toml"
    ".config/fish/config.fish"
    ".config/starship.toml"
    ".config/zellij/config.kdl"
    ".config/zellij/layouts/emacs.kdl"
    ".config/zellij/layouts/minimal.kdl"
    ".doom.d/config.el"
    ".doom.d/doomEmacsDoomOne.svg"
    ".doom.d/init.el"
    ".doom.d/modules/lang/protobuf/.doommodule"
    ".doom.d/modules/lang/protobuf/config.el"
    ".doom.d/modules/lang/protobuf/packages.el"
    ".doom.d/packages.el"
    ".doom.d/snippets/.keep"
    ".gitconfig"
    ".local/bin/dev"]
  "macos"
  [".aerospace.toml"
    ".config/atuin/config.toml"
    ".config/direnv/direnv.toml"
    ".config/fish/config.fish"
    ".config/ghostty/config"
    ".config/kitty/current-theme.conf"
    ".config/kitty/kitty.conf"
    ".config/skhd/skhdrc"
    ".config/starship.toml"
    ".config/wezterm/wezterm.lua"
    ".config/zellij/config.kdl"
    ".config/zellij/layouts/emacs.kdl"
    ".config/zellij/layouts/minimal.kdl"
    ".doom.d/config.el"
    ".doom.d/doomEmacsDoomOne.svg"
    ".doom.d/init.el"
    ".doom.d/modules/lang/protobuf/.doommodule"
    ".doom.d/modules/lang/protobuf/config.el"
    ".doom.d/modules/lang/protobuf/packages.el"
    ".doom.d/packages.el"
    ".doom.d/snippets/.keep"
    ".gitconfig"
    ".local/bin/dev"]}
